<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BookMyFlights", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*checking if the user is logged-in*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        //ADMIN MENUS
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Send emil with attachment", "Index", "SendEmailWithFile")</li>
                            <li>@Html.ActionLink("Generate invoice PDF from URL", "GeneratePDF", "Home")</li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false">Manage<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" id="myTab">
                                    <li role="presentation">
                                        @Html.ActionLink("User", "Index", "User")
                                    </li>
                                    <li role="presentation">
                                        @Html.ActionLink("Flight", "Index", "Flight")
                                    </li>
                                    <li role="presentation">
                                        @Html.ActionLink("Booking", "Index", "Booking")
                                    </li>
                                    <li role="presentation">
                                        @Html.ActionLink("Review", "Index", "Review")
                                    </li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Directions", "Directions", "Home")</li>

                        }
                        //LOGGED-IN USER MENU
                        else
                        {
                            <li>@Html.ActionLink("Booking", "Index", "Booking")</li>
                            <li>@Html.ActionLink("Review", "Index", "Review")</li>
                            <li>@Html.ActionLink("Offers", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Directions", "Directions", "Home")</li>
                            <li>@Html.ActionLink("Send emil with attachment", "Index", "SendEmailWithFile")</li>
                        }
                    }
                    else
                    {
                        //GENERAL USER MENU
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Directions", "Directions", "Home")</li>
                        <li>@Html.ActionLink("Send emil with attachment", "Index", "SendEmailWithFile")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BookMyFlights</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
    